canvas {
  border: 2px double navy;
}

#start {
  
  font-style: italic;
  font-family: coppeplate;
  font-size: 40px;
  color: peru;
  border-radius: 5px;
  border-color: peru;
}

#game-intro {
  display: flex;
  position: absolute;
  width: 700px;
  height: 400px;
  background: url('../img/backgroundBeach.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: right;

}

#canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}